*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategrey;
}
.container{
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
h2{
    margin-bottom: 20px;
    text-align: center;
}
.input-box{
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 10px;
}
button{
    padding: 10px 15px;
    cursor: pointer;
}

ul{
    margin-top: 20px;
    
}
li{
    list-style: none;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

li div{
    display: flex;
    gap: 6px;
}

li button{
    padding: 5px;
    cursor: pointer;
}